{% extends 'base.html'%}

{% block title %} Seja bem vindo {% endblock %}

{% block main %}

    <div class="row">
        <div class="col-sm">

        </div>
        <div class="col-12 ">
            <h1>SYSTI</h1>
        </div>
        <div class="col-sm-6">
            {% if user.is_authenticated %}
                <p>Olá {{ user.username }} </p>
                <a href="{% url 'logout' %}"> Sair </a>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-primary"> Entrar </a>
            {% endif %}
        </div>
    </div>


{% endblock %}

